# PROJECT SETTINGS
# ----------------
[server]
hostname            = example.com
port                = 55800
privkey             = /home/joppe/.ssh/id_rsa
pubkey              = /home/joppe/.ssh/id_rsa.pub

[project]
toolchain           = ISE
out_dir             = OUT

[target]
family              = spartan6
device              = xc6slx9
package             = tqg144
speedgrade          = -2

# HARDWARE TARGETS
# ----------------
[total]
src_vhdl            = RTL/input_sync.vhd
                      RTL/HF_interface.vhd
                      RTL/hf_2_wb.vhd
                      RTL/wb_reg.vhd
                      RTL/toplevel.vhd
src_verilog         =
src_sysverilog      = 
src_constraints     = CON/toplevel.ucf
src_ip              = 
toplevel            = toplevel
extra_options       = xst -glob_opt max_delay -opt_mode speed
                      netgen -ism
                      map -ol high -xe n
                      par -ol high -xe n
                      trce -v 3 -s 2 -n 3 -fastpaths

# SIMULATION TARGETS
# ------------------
[presim_total]
simtype             = presim
src_vhdl            = RTL/input_sync.vhd
                      RTL/HF_interface.vhd
                      RTL/hf_2_wb.vhd
                      RTL/wb_reg.vhd
                      RTL/toplevel.vhd
                      SIM/tb_toplevel.vhd
src_verilog         = 
src_sysverilog      =
toplevel            = tb_toplevel
runtime             = all
levels              = 10

[postsim_total]
simtype             = postsim
src_vhdl            = SIM/tb_toplevel.vhd
src_verilog         = OUT/total/total.map.v
src_sysverilog      =
src_ip              = 
src_sdf             = OUT/total/total.map.sdf
toplevel            = tb_toplevel
runtime             = all
delay               = max
sdfroot             = dut
levels              = 10