NET "ACLK" LOC = P126;
NET "ACLK" TNM_NET = "SYS_CLK_PIN";
TIMESPEC TS_SYS_CLK_PIN = PERIOD "SYS_CLK_PIN" 10 ns HIGH 50 %;

NET "LED[0]" LOC = P119;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[0]" DRIVE = 8;
NET "LED[1]" LOC = P118;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[1]" DRIVE = 8;
NET "LED[2]" LOC = P117;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[2]" DRIVE = 8;
NET "LED[3]" LOC = P116;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[3]" DRIVE = 8;
NET "LED[4]" LOC = P115;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[4]" DRIVE = 8;
NET "LED[5]" LOC = P114;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[5]" DRIVE = 8;
NET "LED[6]" LOC = P112;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[6]" DRIVE = 8;
NET "LED[7]" LOC = P111;
NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[7]" DRIVE = 8;

NET "SW[0]" LOC = P124;
NET "SW[0]" IOSTANDARD = LVCMOS33;
NET "SW[0]" PULLUP;
NET "SW[1]" LOC = P123;
NET "SW[1]" IOSTANDARD = LVCMOS33;
NET "SW[1]" PULLUP;
NET "SW[2]" LOC = P121;
NET "SW[2]" IOSTANDARD = LVCMOS33;
NET "SW[2]" PULLUP;
NET "SW[3]" LOC = P120;
NET "SW[3]" IOSTANDARD = LVCMOS33;
NET "SW[3]" PULLUP;

# HF_INTERFACE
NET "SCK" LOC = P70;
NET "SCK" IOSTANDARD = LVCMOS33;
NET "SCK" SLEW = FAST;
NET "SDO" LOC = P65;
NET "SDO" IOSTANDARD = LVCMOS33;
NET "SDO" SLEW = FAST;
NET "SDI" LOC = P64;
NET "SDI" IOSTANDARD = LVCMOS33;
NET "SDI" SLEW = FAST;
NET "HFRST" LOC = P57;
NET "HFRST" IOSTANDARD = LVCMOS33;

INST "cHF_interface" AREA_GROUP = "pblock_cHF_interface";
AREA_GROUP "pblock_cHF_interface" RANGE=SLICE_X20Y32:SLICE_X23Y35;

INST "chf_2_wb" AREA_GROUP = "pblock_chf_2_wb";
AREA_GROUP "pblock_chf_2_wb" RANGE=SLICE_X20Y36:SLICE_X23Y44;